<div class="container">
  <h1>Add New customer</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveCustomer()" #customerForm="ngForm">
        <div class="form-group">
          <label for="name">ID Number</label>
          <input type="text" class="form-control" [(ngModel)]="customer.id_number" name="id_number" required>
        </div>
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" [(ngModel)]="customer.first_name" name="first_name" required>
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="customer.last_name" name="last_name" required>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" [(ngModel)]="customer.contact_information.email" name="email" required>
        </div>
        <div class="form-group">
          <label for="name">Phone</label>
          <input type="number" class="form-control" [(ngModel)]="customer.contact_information.phone" name="phone" required>
        </div>
        <div class="form-group">
          <label for="name">Address</label>
          <input type="text" class="form-control" [(ngModel)]="customer.contact_information.address" name="address" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
