<div class="container">
  <h1>{{customer.title }}</h1>
  <dl class="list">
    <dt>ID Number</dt>
    <dd>{{ customer.id_number }}</dd>
    <dt>First Name</dt>
    <dd>{{ customer.first_name }}</dd>
    <dt>Email</dt>
    <dd>{{ customer.contact_information.email }}</dd>
    <dt>Publisher</dt>
    <dd>{{ customer.publisher }}</dd>
    <dt>Price</dt>
    <dd>{{ customer.price }}</dd>
    <dt>Update Date</dt>
    <dd>{{ customer.updated_at }}</dd>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/customer-edit', customer._id]" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteCustomer(customer._id)">DELETE</button>
    </div>
  </div>
</div>
