<div class="container">
  <h1>Customer List
    <a [routerLink]="['/customer-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID Number</th>
        <th>Full Name</th>
        <th>Contact Information</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id_number }}</td>
        <td>{{ customer.first_name }} {{customer.surname}}</td>
        <td><a [routerLink]="['/customer-details', customer._id]">Show Details</a></td>
      </tr>
    </tbody>
  </table>
</div>
